body, html {
	background: #222;
	color: #fff;
}

img, iframe {
	max-width: 100%;
}

.centered-text {
	text-align: center;
}

nav h1 {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100px;

	line-height: 0;
}

nav ul {
	position: absolute;
	top: 20px;
	right: 20px;
}

nav ul, nav li, .unstyled-list, .unstyled-list li, .blog-posts, .blog-posts li {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
	margin: 40px 10px;
}

nav a {
	display: block;
	padding: 8px 10px;
	text-transform: uppercase;
}

a {
	color: #eee;
	text-decoration: none !important;
}

a:hover {
	color: #fff;
}

header {
	padding: 250px 0 200px 0;
	background: #222 center no-repeat;
	background-size: cover;

	color: #fff;
}

header h1 {
	font-weight: bold;
}

section {
	padding: 20px 0;
}

h1, h3,
.uppercased {
	text-transform: uppercase;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
	font-weight: bold;
}

.content {
	background: #f2f2f2;
	padding: 50px 0;
	color: #222;
}

.content a {
	color: #3d9991;
}

.content a:hover {
	color: #2F746E;
}


footer {
	text-align: center;
	padding: 50px 0;
	color: #ccc;
	font-size: 0.95em;
}

.copyright {
	color: #aaa;
}

.post-subheader {
	font-size: 1.2em;
	color: #aaa;
}

.blog-posts li {
	padding: 30px 0;
}
